<ion-view view-title="Awesomistas" align-title="left">

<ul id="navs">
  <li ng-click="loginnn()"><a href=""><i class="icon ion-camera menu-icon"></i></a></li>
  <li ng-click="login()"><a  href=""><i class="icon ion-person menu-icon"></i></a></li>
</ul>

    <ion-content style="background: url(img/mode.jpg) center; background-size: cover;" >



<div class="item item-image" >

<ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" on-slide-changed="slideChanged(index)" style="height:400px;">
<ion-slide><img src="img/model1.jpg"></ion-slide>
<ion-slide><img src="img/model2.jpg"></ion-slide>
<ion-slide><img src="img/model3.jpg"></ion-slide>
<ion-slide><img src="img/model4.jpg"></ion-slide>

</ion-slide-box>
</div>


  <center>
  <div class="item item-body" style="border:none;">
  <h3> &#8212 FEATURED ITEMS &#8212 </h3>
  </div>
  </center>


<div class="row">
  <div class="col">
    <a ui-sref="menu.tabs.items">

  <img class="full-image" src="img/model11.jpg" >  
</a>
  </div>
  <div class="col">
    <a ui-sref="menu.tabs.items">

      <img class="full-image" src="img/model11.jpg">  

</a>
  </div>

</div>
<div class="row">
  <div class="col">
    <a ui-sref="menu.tabs.items">

  <img class="full-image" src="img/model9.jpg" >  
</a>
  </div>
  <div class="col">
    <a ui-sref="menu.tabs.items">

      <img class="full-image" src="img/model9.jpg" >  
</a>

  </div>
  
</div>
<div class="row">
  <div class="col">
    <a ui-sref="menu.tabs.items">

  <img class="full-image" src="img/model5.jpg" >  
</a>
  </div>
  <div class="col">
    <a ui-sref="menu.tabs.items">

      <img class="full-image" src="img/model5.jpg" >  
</a>

  </div>
  
</div>


 </ion-content>
</ion-view>