<ion-view view-title="ssfsf">
  <ion-content>

  <ion-slide-box>
      <ion-slide><img class="full-image" src="img/model10.jpg" > </ion-slide>
            <ion-slide><img class="full-image" src="img/model10.jpg" > </ion-slide>

   </ion-slide-box>
<p class="spn">Triangle Pendant Necklace Set
      <br>Rs: 999</p> 

      <div class="button-bar button-clear" style="margin-top:2%; margin-bottom:2% " >
  <a class="button button-clear button-dark " id="something"> Buy</a>
  <a class="button button-clear button-dark " ng-click="login()">Exchange</a>
  </div>
<br>

  <div style="text-align:center;">
     <p class="" style="font-size:14px">Details </p> 
   </div>

<p class="spn">
Brand, Seller, or Collection Name : Kenneth Cole New York<br>
Metal﻿ : Base﻿<br>
Material : Glass <br>
Gem Type : not applicable<br>
Chain : Curb<br>
Clasp : lobster-claw-clasps<br>
Model number : K05910-N01
</p> 

<br><br>
  <div style="text-align:center;">
  <p class="" style="font-size:14px">Wear It With</p>
  </div>

  <div class="row pad " >

<div class="col col-33" >
    <a ui-sref="menu.tabs.item-detail" >
      <img class="full-image" ng-src="img/model8.jpg" > 
    </a>
    </div>
    
 <div class="col ">
    <a ui-sref="menu.tabs.item-detail">
      <img class="full-image" src="img/model8.jpg" > 

    </a>
  </div>
   <div class="col ">
    <a ui-sref="menu.tabs.item-detail">
      <img class="full-image" src="img/model8.jpg" > 

    </a>
  </div>

</div>

  </ion-content>
</ion-view>
