<ion-view view-title="Be Model">
  <ion-content  style="background: url(img/model.jpg) center; background-size: cover;">

     <div class="hero no-header flat">
            <div class="content">
                <h1 style="color:#fff;">AWESOMISTAS</h1>
            </div>
    </div>
    <div class="padding" style="text-align:center;">
        <div class="fileUpload ">
             <span><h2><i class="ion-android-image"></i>SELECT FILE</h2></span>
            <input type="file" class="button upload" id= "file-chooser" onchange="upload()" />
      </div>
      <img src="#" id="uploaded-image" style="display:none;">
        <div id="results"></div>
    </div>
     <div class="padding">
            <button class="button button-full button-assertive ink" id="image_upload" >Upload</button>
     </div>

</ion-content>
</ion-view>
