<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">CART</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content style="background: url(img/model.jpg) center; background-size: cover;" ng-controller="cart2Ctrl">

<div style="background-color:#141414; color:white; font-family:roboto"><span style="float:right;">STEP 2/3</span></div>
<div class="item item-divider qwe" style="border:0px;">
</div>

  </ion-content>
</ion-modal-view>
